<div id="account-action-modal">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{text.heading}}</h3>
    </div>
    <form>
        <div class="modal-body">
            <span class="facebook-sign-up-button" ng-click="loginWithFacebook()">
                <i class="facebook-icon"></i>
                Sign up with Facebook
            </span>
            <p>Or sign up with e-mail</p>
            <input type="text" placeholder="E-mail" ng-model="sign.email">
            <input type="password" placeholder="Password" ng-model="sign.password">
            <p class="error" ng-if="error">{{error}}</p>
        </div>
        <div class="modal-footer">
            <input type="submit" value="{{text.buttonLabel}}" ng-click="ok(sign.email, sign.password)">
        </div>
    </form>
</div>