<div id="account-action-modal">
    <div class="modal-header">
        <button class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h3>{{text.heading}}</h3>
    </div>
    <form>
        <div class="modal-body">
            <p>{{text.message}}</p>
            <input type="text" placeholder="email" ng-model="sign.email">
            <input type="password" placeholder="password" ng-model="sign.password">
            <p class="error">{{error}}</p>
        </div>
        <div class="modal-footer">
            <input type="submit" value="{{text.buttonLabel}}" ng-click="ok(sign.email, sign.password)">
        </div>
    </form>
</div>