<div id="sign-up">
    <div class="modal-header">
        <h3>Sign Up</h3>
    </div>
    <form>
        <div class="modal-body">
            <p>Sign up and keep yor games saved...</p>
            <input type="text" placeholder="email" ng-model="sign.email">
            <input type="password" placeholder="password" type="password" ng-model="sign.password">
        </div>
        <div class="modal-footer">
            <input type="submit" value="Register Now" ng-click="ok()">
        </div>
    </form>
</div>