<div class="ch-myGames">
    <div class="middle">
        <a class="createGame" ui-sref="createGame">Create New Game</a>

        <div class="tableHolder">
            <div class="tableTitle">Games I've created:</div>
            <div class="noGamesLabel" ng-if="!showGames(gamesCreated)">You haven't created any games yet.</div>
            <table class="games" ng-if="showGames(gamesCreated)">
                <tr>
                    <th>created</th>
                    <th>opponent email</th>
                    <th>opponent name</th>
                    <th>status</th>
                </tr>
                <tr ng-repeat="game in gamesCreated | orderBy: 'createdAt' : 'reverse'">
                    <td>
                        <span class="dateCreated">{{game.createdAt | date : 'short'}}</span>
                    </td>
                    <td>
                        <span>{{game.p2Email}}</span>
                    </td>
                    <td>
                        <span ng-if="game.p2">{{game.p2.playerName}}</span>
                    </td>
                    <td>
                        <span class="status">{{game.status}}</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="tableHolder">
            <div class="tableTitle">Games I'm invited to:</div>
            <div class="noGamesLabel" ng-if="!showGames(gamesInvitedTo)">You were not invited to any games yet.</div>
            <table class="games" ng-if="showGames(gamesInvitedTo)">
                <tr>
                    <th>created</th>
                    <th>opponent email</th>
                    <th>opponent name</th>
                    <th>status</th>
                </tr>
                <tr ng-repeat="game in gamesInvitedTo | orderBy: 'createdAt' : 'reverse'">
                    <td>
                        <span class="dateCreated">{{game.createdAt | date : 'short'}}</span>
                    </td>
                    <td>
                        <span>{{game.p1Email}}</span>
                    </td>
                    <td>
                        <span ng-if="game.p2">{{game.p2.playerName}}</span>
                    </td>
                    <td>
                        <span class="status">{{game.status}}</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
