<div class="ch-board">

    <div class="frame">
        <div class="fieldHolder">
            <div ng-repeat="field in vm.fields">
                <ch-square
                    color="{{field.logicalField.color}}"
                    number="{{field.logicalField.id}}"
                    actions="field.actions"
                    >
                </ch-square>
            </div>
        </div>

        <div class="pinHolder">
            <ch-pin ng-repeat="pin in vm.pins"
                    ng-class="pin.color"

                    color="{{pin.color}}"
                    initcsstop="{{pin.top}}"
                    initcssleft="{{pin.left}}"
                    id="{{pin.id}}"

                    api="pin.api"
                    on-drag="pinHovers(x, y, id)"
                    on-drop="pinDrops(x, y, id)"
                >
            </ch-pin>
        </div>
    </div>
</div>