<div class="ch-board">

    <div class="frame">
        <div class="fields">
            <div ng-repeat="field in vm.fields">
                <ch-square
                    color="{{field.color}}"
                    number="{{field.id}}"
                    actions="field.actions"
                    >
                </ch-square>
            </div>
        </div>

        <div class="pins">
            <ch-pin ng-repeat="pin in vm.pins"
                    ng-class="pin.color"

                    color="{{pin.color}}"
                    initcsstop="{{pin.top}}"
                    initcssleft="{{pin.left}}"
                    id="{{pin.id}}"

                    api="pin.api"
                    on-drag="vm.onPinHover(x, y, pin)"
                    on-drop="vm.onPinDrop(x, y, pin)"
                >
            </ch-pin>
        </div>
    </div>
</div>