<div class="ch-nav-bar" ng-controller="NavBarCtrl as nav">
    
    <div class="logo">
        <a ui-sref="home">Checkers</a>
    </div>
    
    <div class="rightMenu" ng-if="nav.showAccount">
        <div ng-if="!nav.loggedIn">
            <a ui-sref="sign-up">SignUp</a>
            <a ui-sref="login">Log In</a>
        </div>
        <div ng-if="nav.loggedIn">
            <a ui-sref="account-overview" ng-if="nav.username">{{nav.username}}</a>
            <a href ng-click="nav.logout()">LogOut</a>
        </div>
    </div>
    
    <div class="rightMenu">
        <div class="loadingBar" ng-if="nav.showLoadingBar">
            <i></i> ... {{nav.loadingMessage}}
        </div>
        <div class="error" ng-if="nav.showError">
            account provider failed
        </div>
    </div>
</div>