.ch-footer {
  background-color: rgb(45, 45, 45);

  color: #A7B3B7;
  padding: 30px 0 30px 0;
  text-align: center;
  width: 100%;

  .column {
    display: inline-block;
    width: 250px;
    text-align: left;
  }
}